.logo{
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
}
.nav-list-link{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color : #212121;}
.contacts-list-link{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #757575;    
}
.nav-list-link{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #212121;
}
.contacts-list-link{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #757575;
}
a{
text-decoration: none;
}
.nav-list-link:hover,.contacts-list-link:hover{
color: #2196F3;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.nav-list,.contacts-list{
    display: flex;
    gap: 50px;
}
.logo-header{
    color: #212121;
}
.section-hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:#212121;
}
body{
    margin: 0;
}
.section-hero-title{
    width: 696px;
    font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;
margin: 0 auto;
}
.section-hero-btn{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
}